
body {
  margin: 0px;
  font-family: Oswald;
  background-color: antiquewhite;
}

#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navigation {
  text-align: right;
  display: flex;
  gap: 1rem;
  height: 100px;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

/* SIGNUP = SIGNIN */

.signup, .login {
  display: flex;
  flex-direction: column;
}

.signup form, .login form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup label, .login label {
  display: flex;
  gap: 5px;
}

.signup button, .login button {
  width: 100px;
}

/* ARTICLES */

.articles {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 5px;
  grid-auto-flow: row;
}

.article-post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: antiquewhite;
}

.article-post h2 {
  text-transform: uppercase;
}

/* ARTICLE */

#article {
  border: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: teal;
  border-radius: 5px;
  padding: 10px;
  padding: 10px;
}

.comments-wrapper {
  border: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: teal;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;;
}

.comments > div {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.comment-body {
  padding-left: 10px;
}

.comment-info {
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  height: fit-content;

}