
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Oswald;
  background-color: antiquewhite;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}

#root > h1 {
  margin-top: 0px;
  text-align: right;
}

.navigation {
  text-align: right;
  display: flex;
  gap: 1rem;
  height: 70px;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

/* SIGNUP = SIGNIN */

.signup, .login {
  display: flex;
  flex-direction: column;
}

.signup form, .login form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup label, .login label {
  display: flex;
  gap: 5px;
}

.signup button, .login button {
  width: 100px;
}

/* ARTICLES */

.articles {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
  grid-auto-rows: auto;
  align-self: center;
  max-width: 1600px;
}

.articles > a {
  display: contents;
}

li > a:visited, a:link {
  color: rgb(93, 60, 140);
}  

.articles ul {
  max-width: 900px;
}

.articles div:first-child {
  /* background-color: rgb(101, 145, 173); */
  grid-column: span 9;
  /* grid-row: span 8; */
  grid-row: span 2;
}

.article-post {
  grid-column: span 3;
  grid-row: span 1;
  padding: 0px 30px 15px 20px;
  /* border-style: solid; */
  border-color: rgb(104, 180, 221);
  border-width: 2px;
  border-radius: .2rem;
  background-color: antiquewhite;
} 

.article-post img {
  border-radius: 1rem;
  width: 100%; 
 
}

.article-post h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.article-post p {
  text-align: justify;
  align-self: center;
}

@media (max-width: 1000px) {
  .articles {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .articles{
    gap: 0px,
  }

  .article-post {
    padding: 0px 0px 15px 0px;
  }

  .article-post h2 {
    font-size: 1.15rem;
  }
}

/* ARTICLE */

.article-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  align-self: center;
}

#article {
  border: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: teal;
  border-radius: 5px;
  padding: 20px;
  min-width: 80%;
  /* align-self: center; */
}

#article h1 {
  margin-bottom: 40px;
}

#article > div {
  margin-bottom: 20px;
}

.comments-wrapper {
  border: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: teal;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
  /* min-width: 90%; */

  min-width: 90%;
  /* align-self: center; */
}

.comments-wrapper form, label {
  display: flex;
  align-items: start;
  gap: 20px;
}

button {
  width: fit-content;
  height: fit-content;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
}

.comments > div {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.comment-username {
  font-weight: bold;
}

.comment-body {
  padding-left: 10px;
}

.comment-info {
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  height: fit-content;
}